---
import Layout from "../layouts/Layout.astro";
import Marquee from "../components/Marquee.astro";
---

<Layout>
    <Marquee>
        <span class="text-[5rem] font-mmd text-nowrap">
            Your local <span
                class=":uno: bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent"
                >gay</span
            > Dragon
        </span>
    </Marquee>
    <article class="p-2">
        this is a lil landing page for drac, who is gay. you might know me by a
        few other names.
        <br />
        <br />
        this page is still under construction!
    </article>
    <hr />
    <article class="p-2">
        other things i'm doing

        <ul class="list-inside [list-style-type:'-_']">
            <li>
                <a
                    href="https://draconium.music"
                    class="hover:underline text-cyan">the DRACONIUM project</a
                >
            </li>
            <li>
                <a
                    href="https://cozydsp.space"
                    class="hover:underline text-cyan">VST plugins by cozy dsp</a
                >
            </li>
        </ul>
    </article>
</Layout>
