---
import { Image } from 'astro:assets';
import Tooltip from '../components/Tooltip.svelte';
import splash from '../images/DRACONIUM_zatch.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gray-9 text-white">
		<header class="w-screen h-screen flex justify-center items-center relative overflow-hidden">
			<h1 class="font-800 text-16 bg-clip-text text-transparent bg-gradient-to-rb from-red via-blue to-purple backdrop-blur-2xl">
				your local <Tooltip client:load>gay<span class="text-8 align-top">*</span></Tooltip> dragon
			</h1>
			<div class="absolute top-1/4 left-0 w-1/2 z-[-1]"><div class="after:content-empty after:absolute after:top-[-10%] after:left-[-115%] after:w-[250%] after:h-[200%] after:bg-gradient-radial after:from-transparent after:to-gray-9 after:to-55%"></div> <Image src={splash} alt=""/></div>
		</header>
	</body>
</html>
