---
import drc from "../assets/88x31/drc.png";
import myristica from "../assets/88x31/myristica.webp";
import mika from "../assets/88x31/mikarific.png";

import Link from "./88x31.astro";
---

<section
    class="grid grid-flow-col-dense place-items-center sticky top-[100vh] m-8 gap-2"
>
    <Link href="https://drac.gay" img={drc} />
    <Link href="https://myristica.dev" img={myristica} />
    <Link href="https://mikarific.com" img={mika} />
</section>
