---
import "@unocss/reset/tailwind-compat.css";
import { getImage } from "astro:assets";
import backgroundImg from "../assets/draconium.png";
const background = await getImage({ src: backgroundImg });

import Collection from "../components/88x31Collection.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>your local gay dragon</title>
    </head>
    <body
        style={`background-image: url(${background.src});`}
        class="h-screen overflow-scroll font-mm bg-center-left backdrop-brightness-50 bg-clip-border text-white"
    >
        <main class="mx-auto bg-dark w-1/3 min-h-screen shadow">
            <slot />
            <Collection />
        </main>
    </body>
</html>
